{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

    <h3>Recomendación de los jugadores del mercado</h3>
    <p>Última actualización: 12/12/2020 00:00:00 (TODO)</p>

    <p>TODO for cada jugador recomendado</p>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ansu Fati</h5>
            <p class="card-text">Recomendado en un 100%</p>
            <a href="#" class="btn btn-primary">Más noticias</a>
        </div>
    </div>

{% endblock content %}