{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

        <div class="card text-center card-biklopp">
            <img class="card-img-top" src="{{jugador.foto}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{jugador.nombre}}</h5>
                <hr>
                <p class="card-text">Recomendado en un 100%</p>
                <p class="card-text">{{jugador.forma}}</p>
                <p class="card-text">{{jugador.posicion}}</p>
                <hr>
                <p class="card-text">{{jugador.media_puntos}} puntos/partidos</p>
                <p class="card-text">Goles: {{jugador.goles}}</p>
                <p class="card-text">Tarjetas: {{jugador.tarjetas}}</p>
                <hr>
                <p class="card-text">{{jugador.valor_mercado}} €</p>
            </div>
        </div>

        <div class="card">
          <div class="card-header">
              <h5 class="card-title">Noticias</h5>
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="news/filter_by_player">Por Jugador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news/filter_by_team">Por Equipo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news/filter_by_player_and_team">Por Jugador y Equipo</a>
                </li>
                </ul>
            </div>
            {%  for row in noticias %}
            <div class="card-body">
                  <div class="card card-notice">
                    <!--<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf_-k6IGCEsFuehZq3kiHT6OdCFd8yYQXgmZaabW4idZaVIEP1ghC9E94g2-vpfdUE5fXvo6E&s" alt="Card image cap">-->
                    <div class="card-body card-notice-body">
                        <h5 class="card-title">{{row.titulo}}</h5>
                        <p class="card-text">{{row.desc}}</p>
                        <a class="card-link" href="{{row.link}}" target="_blank" >Link a la noticia en {{row.periodico}}</a>
                        <footer style="float: right;" class="blockquote-footer"><cite title="Source Title">{{row.fecha}}</cite></footer>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>

    <style>
        .card-biklopp{
            float: left;
            width: 25%;
            display: flex;
            align-items: center;
            margin-right: 5%;
        }

        .card-biklopp > .card-img-top{
            width: 70%;
            border-radius: 150px;
            margin-top: 20px;
            border: 2px solid lightgray;
            background-color: #edf0f5;
        }

        .card-biklopp > .card-title{
            text-align: center;
        }
        .card-biklopp > .card-text{
            text-align: center;
        }

        .card-notice{
            flex-direction: row;
        }

        .card-notice > .card-img-top{
            float: left;
            width: 30%;
        }

        .card-notice-body{
            float: right;

        }



    </style>

{% endblock content %}
