{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

    <h3>Jugadores en tu mercado</h3>
    <p>Última actualización: {{fecha}}</p>

    {% for row in jugadores %}

        <div id="card-{{row.pk}}" class="card">
            <img class="card-img-top" src="{{row.foto}}" alt="Card image cap">
            <div class="card-body">
                <div id="jugador-similar-{{row.pk}}" class="card jugador_similar">
                    {% if row.porcentaje_similitud_jugador is None%}
                        <img class="card-img-top" src="https://images.vexels.com/media/users/3/140748/isolated/preview/5b078a59390bb4666df98b49f1cdedd0-perfil-masculino-avatar-by-vexels.png" alt="Card image cap">
                        <h5 class="card-title">Not found</h5>
                        <p class="card-text">Similitud: 0%</p>
                    {% else %}
                        <img class="card-img-top" src="{{row.jugador_similiar.foto}}" alt="Card image cap">
                        <h5 class="card-title">{{row.jugador_similiar.nombre}}</h5>
                        <p class="card-text">Similitud: {{row.porcentaje_similitud_jugador}} %</p>
                    {% endif %}
                </div>
                <h5 class="card-title">{{row.nombre}}</h5>
                <hr>
                <p class="card-text">Según las necesidades de tu equipo, recomendamos su fichaje en un {{row.porcentaje_similitud_ideal}} %</p>
                <a href="#" class="btn btn-info card-link-simil" onmouseout="no_mostrar_similar({{row.pk}});return false;" onmouseover="mostrar_similar({{row.pk}});return false;">Jugador Similar</a>
                <a id="prueba" href="../jugador/show/{{row.pk}}" class="btn btn-info card-link-info ">Más Info</a>
            </div>
        </div>

    {% endfor %}

    <script>

    function mostrar_similar(id) {
        document.getElementById("jugador-similar-" + id).style.display = "block";
        document.getElementById("card-" + id).style.backgroundColor = "#212529";
    }

    function no_mostrar_similar(id) {
        document.getElementById("jugador-similar-" + id).style.display = "none";
        document.getElementById("card-" + id).style.filter = "blur(0px)";
        document.getElementById("card-" + id).style.backgroundColor = "white";
    }

    </script>

    <style>

        .card{
            float: left;
            width: 25%;
            margin: 2.5% 4.15%;
            display: flex;
            align-items: center;
            position: relative;
        }

        .jugador_similar{
            position: absolute;
            display: none;
            width: 75%;
            top: 20px;
            padding-bottom: 20px;
        }

        .jugador_similar > .card-img-top{
            width: 70%;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 15%;
        }


        .card-img-top{
            width: 50%;
            margin-top: 20px;
        }

        .card-title{
            text-align: center;
        }
        .card-text{
            text-align: center;
        }

        .card-link-info{
            float: left;
            width: 51%;
            position: absolute;
            bottom: -35px;
            right: -1px;
            border-radius: 0;
        }

        .card-link-simil{
            float: left;
            width: 51%;
            position: absolute;
            bottom: -35px;
            left: -1px;
            border-radius: 0;
        }




    </style>

{% endblock content %}
